# Ambientes Virtuais
venv/
.venv/
env/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Arquivos de IDE
.vscode/
.idea/

# Arquivos de Dependências (do sistema)
*.egg-info/

# Arquivo de variáveis de ambiente
.env